@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #79589f; //#047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

/* Keep image within its container */
img {
  width: 100%;
}

code,
pre {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;

  .flex {
    justify-content: space-between;
  }

  ul {
    display: flex;
  }

  a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;

    &:hover {
      border-bottom: 2px solid #fff;
    }
  }
}

/* Showcase */
.showcase {
  height: 400px;
  color: #fff;
  background-color: var(--primary-color);
  position: relative;

  .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    margin: 20px 0;
  }

  .showcase-text {
    animation: slideInFromLeft 1s ease-in;
  }

  .showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;

    .form-control {
      margin: 30px 0;
    }

    input[type='text'],
    input[type='email'] {
      width: 100%;
      padding: 3px;
      font-size: 16px;
      border: 0;
      border-bottom: 1px solid #b4becb;
    }

    input {
      outline: none;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    left: 0;
    right: 0;
    background-color: #fff;
    transform: skewY(-3deg);
  }
}

/* Stats */
.stats {
  padding-top: 100px;
  animation: slideInFromBottom 1s ease-in;

  .stats-heading {
    max-width: 500px;
    margin: auto;
  }

  .grid {
    h3 {
      font-size: 35px;
    }
    p {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

/* CLI */
.cli {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    & > *:first-child {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }
  }
}

/* Cloud */
.cloud {
  .grid {
    grid-template-columns: 4fr 3fr;
  }
}

/* Languages */
.languages {
  .flex {
    flex-wrap: wrap;
  }

  .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: all 0.2s ease-in;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(196, 196, 196);
    cursor: pointer;

    // Real Heroku uses these Language Card dimensions
    // width: 85px;
    // height: 108px;

    // On hover, hide border, brighten, and enlarge shadow
    &:hover {
      // transform: translateY(-15px);
      // transform: scale(1.01);
      background-color: #fff;
      border-color: transparent;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    }

    h4 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }
}

/* Features - Head */
.features-head {
  img {
    width: 200px;
    justify-self: flex-end;
  }
}

/* Features - Subhead */
.features-sub-head {
  img {
    width: 300px;
    justify-self: flex-end;
  }
}

/* Features - Main */
.features-main {
  .card > i {
    margin-right: 20px;
  }

  .grid {
    padding: 30px;

    & > *:first-child {
      grid-column: 1 / span 3;
    }

    & > *:nth-child(2) {
      grid-column: 1 / span 2;
    }
  }
}

/* Docs - Head */
.docs-head {
  img {
    width: 200px;
    justify-self: flex-end;
  }
}

/* Docs - Main */
.docs-main {
  h3 {
    margin: 20px 0;
  }

  .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
  }

  nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }

  a:hover {
    font-weight: bold;
  }
}

/* Footer */
.footer {
  color: black;
  background-color: #f0f0f0;
  .social {
    a {
      margin: 0 10px;
      color: black;
    }
  }
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  90% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  90% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  90% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;

    .showcase-text {
      text-align: center;
      margin-top: 40px;
      animation: slideInFromTop 1s ease-in;
    }

    .showcase-form {
      justify-self: center;
      margin: auto;
      animation: slideInFromBottom 1s ease-in;
    }
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
    img {
      justify-self: center;
    }
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }

  .footer {
    text-align: center;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;

    .flex {
      flex-direction: column;
    }

    ul {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .showcase-form {
    width: 300px;
  }
}
